/* GERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

a {
    text-decoration: none;
    color: #bdbdbd;
}


/* CONTAINER */
#container {
    margin: 0 auto;
    width: 750px;
    /* border: 1px solid tomato; */
}


/* TOPO */
#topo {
    padding-top: 25px;
    height: 175px;
    /* border: 1px solid tomato; */
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
}

.logo {
    width: 152px;
    height: 66px;
    font-size: 0;
    background: url(../imagens/logo.png) no-repeat center;
}


/* BARRA DE NAVEGAÇÃO */
#topo ul {
    float: left;
    margin-top: 30px;
    background-color: var(--primeiro-vermelho);
}

#topo ul li {
    float: left;
}

#topo ul a {
    padding: 0.5em 1.5em;
    display: block;
    line-height: 2.1em;
    font-weight: bold;
    font-size: 0.9em;
    color: #fafafa;
    background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul a.primeiro {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navagacao a.home,
body.brasil #navagacao a.brasil,
body.internacional #navagacao a.internacional,
body.economia #navagacao a.economia,
body.saude #navagacao a.saude,
body.ciencia #navagacao a.ciencia,
body.fotos #navagacao a.fotos {
    cursor: text;
    color: #fafafa;
    background-color: var(--terceiro-vermelho);
}


/* CONTEÚDO - LAYOUTS */
#conteudo {
    margin: 70px 0 10px;
    /* border: 1px solid tomato; */
    /* background-color: rgb(255, 207, 140); */
}

/* LATERAL */
#lateral {
    width: 180px;
    /* background-color: var(--primeiro-cinza); */
}

/* CAIXA */
.caixa {
    /* margin: 10px 0; */
    padding: 5px;
    background: var(--segundo-cinza) url(../imagens/fundo-caixa.png);
}

.caixa h2 {
    padding: 5px;
    font-size: 1.1em;
    color: var(--branco);
    background-color: var(--primeiro-azul);
}

.caixa .caixa-conteudo {
    margin-top: 5px;
    padding: 5px;
    background-color: var(--branco);
}

/* COLUNAS */
#tres-colunas #primario {
    margin-right: 15px;
    width: 270px;
    /* border: 1px solid tomato; */
    /* background-color: var(--segundo-azul); */
}

#duas-colunas #primario {
    width: 555px;
    /* border: 1px solid tomato; */
    /* background-color: var(--segundo-azul); */
}

#uma-colunas #primario {
    width: 750px;
    /* border: 1px solid tomato; */
    /* background-color: var(--segundo-azul); */
}

#secundario {
    width: 270px;
    background-color: var(--segundo-azul);
}


/* RODAPÉ */
#container-rodape {
    padding: 20px 0;
    /* border: 1px solid tomato; */
    background-color: var(--primeiro-azul);
}

#rodape {
    margin: 0 auto;
    padding: 0 20px;
    width: 750px;
    /* border: 1px solid tomato; */
    text-align: center;
    color: #fff;
}


/* ESPECÍFICOS */
.clear-both { clear: both; }
.float-left { float: left; }
.float-right { float: right; }