/* Reset geral 
------------------------------------------- */
* {
    list-style: none;
    text-decoration: none;
}

a:link, a:active, a:visited {
    color: var(--laranjado-02);
}

a:hover {
    color: var(--verde-02);
}


/* Estrutura do site
------------------------------------------- */
body {
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: var(--cinza-01) url(../imagens/fundo.png) repeat-x;
}

#container {
    margin: 0 auto;
    width: 1080px;
    /* border: 1px solid var(--vermelho-02); */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    height: 55px;
    border: 1px solid var(--vermelho-02);
}


/* Logo
------------------------------------------- */
#logo a {
    display: block;
    width: 248px;
    height: 21px;
    /* border: 1px solid var(--vermelho-02); */
    font-size: 0;
    background: url(../imagens/logo.png) no-repeat;
    
}


/* Barra de navegação
------------------------------------------- */
nav ul {
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    /* border: 1px solid var(--vermelho-02); */
}

nav ul a {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul a:hover {
    border-bottom: 1px solid var(--cinza-02);
};


/* Principal
------------------------------------------- */
#principal {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--vermelho-02);
}

#conteudo {
    width: 710px;
    background-color: var(--verde-03);
}

aside {
    width: 350px;
    background-color: var(--laranjado-03);
}