/* VARIÁVEIS GLOBAIS */
:root {
    /* - CORES - */
    /* Branco */
    --branco: #fff;

    /* Preto */
    --preto: #000;

    /* Azuis */
    --azul-1: #00f;
    --azul-2: #6969e7;

    /* Amarelos */
    --amarelo-1: #ffff00;
    --amarelo-2: #ede9cc;
    --amarelo-3: #dbcd87;

    /* Vermelhos */
    --vermelho-1: #f00;
    --vermelho-2: #ff6347;
}