/* VARIÁVEIS GLOBAIS */
:root {
    /* - CORES - */
    /* Branco */
    --branco: #fff;

    /* Preto */
    --preto: #000;

    /* Azuis */
    --azul-1: #00f;
    --azul-2: #6969e7;
    --azul-3: #449092;

    /* Amarelos */
    --amarelo-1: #ffff00;
    --amarelo-2: #ede9cc;
    --amarelo-3: #dbcd87;
    --amarelo-4: #b5ab56;
    --amarelo-5: #8b8444;
    --amarelo-6: #fff5b0;
    --amarelo-7: #a29750;

    /* Vermelhos */
    --vermelho-1: #f00;
    --vermelho-2: #ff6347;
}